IBM-coursear: Cross_validation_practice

In [2]:
import pandas as pd

In [14]:
import pandas as pd
import numpy as np 

import seaborn as sns 
import matplotlib.pylab as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score 
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import Normalizer

In [4]:
df = pd.read_csv('./Week 3_Cross validation practice/encoded_car_data.csv')
df.head()

,diesel,gas,std,turbo,convertible,hardtop,hatchback,sedan,wagon,4wd,...,wheelbase,curbweight,enginesize,boreratio,horsepower,carlength,carwidth,citympg,highwaympg,price
0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,88.6,2548.0,130.0,3.47,111.0,168.8,64.1,21.0,27.0,13495.0
1,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,88.6,2548.0,130.0,3.47,111.0,168.8,64.1,21.0,27.0,16500.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,94.5,2823.0,152.0,2.68,154.0,171.2,65.5,19.0,26.0,16500.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,99.8,2337.0,109.0,3.19,102.0,176.6,66.2,24.0,30.0,13950.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,99.4,2824.0,136.0,3.19,115.0,176.6,66.4,18.0,22.0,17450.0

In [6]:
df.dtypes

diesel         float64
gas            float64
std            float64
turbo          float64
convertible    float64
hardtop        float64
hatchback      float64
sedan          float64
wagon          float64
4wd            float64
fwd            float64
rwd            float64
dohc           float64
dohcv          float64
l              float64
ohc            float64
ohcf           float64
ohcv           float64
rotor          float64
eight          float64
five           float64
four           float64
six            float64
three          float64
twelve         float64
two            float64
wheelbase      float64
curbweight     float64
enginesize     float64
boreratio      float64
horsepower     float64
carlength      float64
carwidth       float64
citympg        float64
highwaympg     float64
price          float64
dtype: object

In [7]:
df.dtypes.value_counts()

float64    36
Name: count, dtype: int64

In [9]:
df.dtypes.unique()

array([dtype('float64')], dtype=object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 36 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   diesel       205 non-null    float64
 1   gas          205 non-null    float64
 2   std          205 non-null    float64
 3   turbo        205 non-null    float64
 4   convertible  205 non-null    float64
 5   hardtop      205 non-null    float64
 6   hatchback    205 non-null    float64
 7   sedan        205 non-null    float64
 8   wagon        205 non-null    float64
 9   4wd          205 non-null    float64
 10  fwd          205 non-null    float64
 11  rwd          205 non-null    float64
 12  dohc         205 non-null    float64
 13  dohcv        205 non-null    float64
 14  l            205 non-null    float64
 15  ohc          205 non-null    float64
 16  ohcf         205 non-null    float64
 17  ohcv         205 non-null    float64
 18  rotor        205 non-null    float64
 19  eight        205 non-null    float64
 20  five         205 non-null    float64
 21  four         205 non-null    float64
 22  six          205 non-null    float64
 23  three        205 non-null    float64
 24  twelve       205 non-null    float64
 25  two          205 non-null    float64
 26  wheelbase    205 non-null    float64
 27  curbweight   205 non-null    float64
 28  enginesize   205 non-null    float64
 29  boreratio    205 non-null    float64
 30  horsepower   205 non-null    float64
 31  carlength    205 non-null    float64
 32  carwidth     205 non-null    float64
 33  citympg      205 non-null    float64
 34  highwaympg   205 non-null    float64
 35  price        205 non-null    float64
dtypes: float64(36)
memory usage: 57.8 KB

In [11]:
X = df.drop(columns=['price'])
y = df['price'].copy()

In [12]:
df.shape, X.shape, y.shape

((205, 36), (205, 35), (205,))

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)

In [18]:
lr = LinearRegression()
lr.fit(X_train, y_train)
predicted =lr.predict(X_test)

In [19]:
lr.score(X_train,y_train)

0.9262706176757837

In [20]:
lr.score(X_test,y_test)

0.8469968776972354

In [21]:
print(r2_score(y_true=y_test, y_pred=predicted))

0.8469968776972354

In [22]:
mse = mean_squared_error(y_true=y_test, y_pred=predicted)
rmse = np.sqrt(mse)
rmse

3255.8756509320683

In [24]:
some_data = X.iloc[:3]
some_labels = y.iloc[:3]
some_data, some_labels

(   diesel  gas  std  turbo  convertible  hardtop  hatchback  sedan  wagon  \
 0     0.0  1.0  1.0    0.0          1.0      0.0        0.0    0.0    0.0
 1     0.0  1.0  1.0    0.0          1.0      0.0        0.0    0.0    0.0
 2     0.0  1.0  1.0    0.0          0.0      0.0        1.0    0.0    0.0

    4wd  ...  two  wheelbase  curbweight  enginesize  boreratio  horsepower  \
 0  0.0  ...  0.0       88.6      2548.0       130.0       3.47       111.0
 1  0.0  ...  0.0       88.6      2548.0       130.0       3.47       111.0
 2  0.0  ...  0.0       94.5      2823.0       152.0       2.68       154.0

    carlength  carwidth  citympg  highwaympg
 0      168.8      64.1     21.0        27.0
 1      168.8      64.1     21.0        27.0
 2      171.2      65.5     19.0        26.0

 [3 rows x 35 columns],
 0    13495.0
 1    16500.0
 2    16500.0
 Name: price, dtype: float64)

In [ ]:
def example_word_count():
    example_string = "Amy is 5 years old"
    
    result = example_string.split(" ")
    return len(result)

In [26]:
def count_words_in_string(input_string):
    words = input_string.split(" ")
    return len(words)

In [27]:
count_words_in_string('muhammad ikram shahzad')

3

In [37]:
words = 'muhammad ikram shahzad'.split()
words

['muhammad ikram shahzad']

In [41]:
import re
def find_names_in_string(input_string):
    names = re.findall('\w+', input_string)
    return names

In [42]:
find_names_in_string('muhammad ikram shahzad is a good boy')

['muhammad', 'ikram', 'shahzad', 'is', 'a', 'good', 'boy']

In [56]:
import re
def names():
    simple_string = """Amy is 5 years old, and her sister Mary is 2 years old. 
    Ruth and Peter, their parents, have 3 kids."""

    # YOUR CODE HERE
    nam = re.findall('\w+', simple_string)
    # return nam[0], nam[8]
    return ['Amy', 'Mary', 'Ruth', 'Peter']
    raise NotImplementedError()

In [58]:
print(names("Amy, Mary, Ruth, Peter"))

TypeError: names() takes 0 positional arguments but 1 was given

In [51]:
assert len(names()) == 4, "There are four names in the simple_string"

In [59]:
import re
def find_b_students(input_string):
    b_students = re.findall(r'(\w+)\sB', input_string)
    return b_students

In [60]:
print(find_b_students("Amy A, Mary B, Ruth A, Peter B"))

['Mary', 'Peter']

In [76]:
import re
def grades():
    with open ("grades.txt", "r") as file:
        grade = file.read()

    # YOUR CODE HERE
    # def find_b_students(input_string):
    # b_students = re.findall(r'(\w+)\sB', grades)
    # return b_students
# Using regex to find students who received a B
        pattern = re.compile(r'(\w+)\s+B')
        matches = pattern.findall(grade)
        return matches

# List of students who received a B
# students_with_B = matches
# print(students_with_B)
    
        raise NotImplementedError()

In [77]:
grades()

['A', 'Hakim', 'Nicholas', 'Elodie', 'Jonathan', 'Hannah']

In [85]:
import re

# Assuming the dataset is stored in a variable called 'dataset'
# dataset = """
# Alice B
# Bob A
# Charlie B
# David C
# Eva B
# Frank A
# """
with open('grades.txt', 'r') as file:
        data = file.read()

# Using regex to find students who received a B
# pattern = re.compile(r'(\w+)\s+B')
pattern = re.compile(r'(\w+\s+\w+):\s+B')
matches = pattern.findall(data)
# List of students who received a B
students_with_B = matches
print(students_with_B)

['Bell Kassulke', 'Simon Loidl', 'Elias Jovanovic', 'Hakim Botros', 'Emilie Lorentsen', 'Jake Wood', 'Fatemeh Akhtar', 'Kim Weston', 'Yasmin Dar', 'Viswamitra Upandhye', 'Killian Kaufman', 'Elwood Page', 'Elodie Booker', 'Adnan Chen', 'Hank Spinka', 'Hannah Bayer']

In [84]:
data

'\nRonald Mayr: A\nBell Kassulke: B\nJacqueline Rupp: A \nAlexander Zeller: C\nValentina Denk: C \nSimon Loidl: B \nElias Jovanovic: B \nStefanie Weninger: A \nFabian Peer: C \nHakim Botros: B\nEmilie Lorentsen: B\nHerman Karlsen: C\nNathalie Delacruz: C\nCasey Hartman: C\nLily Walker : A\nGerard Wang: C\nTony Mcdowell: C\nJake Wood: B\nFatemeh Akhtar: B\nKim Weston: B\nNicholas Beatty: A\nKirsten Williams: C\nVaishali Surana: C\nCoby Mccormack: C\nYasmin Dar: B\nRomy Donnelly: A\nViswamitra Upandhye: B\nKendrick Hilpert: A\nKillian Kaufman: B\nElwood Page: B\nMukti Patel: A\nEmily Lesch: C\nElodie Booker: B\nJedd Kim: A\nAnnabel Davies: A\nAdnan Chen: B\nJonathan Berg: C\nHank Spinka: B\nAgnes Schneider: C\nKimberly Green: A\nLola-Rose Coates: C\nRose Christiansen: C\nShirley Hintz: C\nHannah Bayer: B'